'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Highlight Line'
      'submenu': [
        {
          'label': 'Toggle Background'
          'command': 'highlight-line:toggle-background'
        },
        {
          'label': 'Toggle Hide Highlight on Select'
          'command': 'highlight-line:toggle-hide-highlight-on-select'
        },
        {
          'label': 'Toggle Underline'
          'command': 'highlight-line:toggle-underline'
        },
        {
          'label': 'Toggle Selection Borders'
          'command': 'highlight-line:toggle-selection-borders'
        }
      ]
    ]
  }
]
